<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553149536858-um6r4q37n5qr4htks22to0bjchujlvcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553149536858-um6r4q37n5qr4htks22to0bjchujlvcm</string>
	<key>API_KEY</key>
	<string>AIzaSyArE3MhXi1Mu-5gKxZIaevlviSo-TlTSBs</string>
	<key>GCM_SENDER_ID</key>
	<string>553149536858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-4631a</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-4631a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553149536858:ios:ef46cf6317daac3fc6d663</string>
</dict>
</plist>